OPENAI_API_KEY=
DATABASE_URL=
MANAGER_OVERRIDE_CODE=
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_FILE=
SLACK_WEBHOOK_URL=
MONGODB_URI=
MONGODB_DB_NAME=

JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_DAYS=